<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Familiy Home Page</title>
</head>
<body>
    <h1>Welcome to the site about my family!</h1>
    <br>
    <a href="/allFam">Go to family members!</a>
    <br>
    <a href="/createFamilyMember">Go here to create a family member!</a>
</body>
</html>